.reviewEntry_container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 200px 400px;
  background-color: #fff;
  grid-row: auto;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-width: 1px;
  padding-top: 20px;
    
}
.starDate {
  display: flex;
}

