.button {
  padding: .5rem;
  margin-top: .5rem;
  border: 1px solid #2F79AD;
  border-radius: 4px;
  background-color: #6DB9EE;
}
.search_container {
  display: flex;
}

.search {
  margin-right: 20px;

}

